html {
    background-image: url(./attributes/Background.jpg);
    background-size: cover;
}

body {
    margin: auto;
    margin-top: 5%;
    width: 400px;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.671);
}

.title {
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: bold;
    
}